h1(style = 'color:blue') 這裡是網頁1


label(for="name") 用戶名稱：
input(
    type="text"
    id="name"
    name="name"
)

label(for ="password") 密碼：
input(
    type="password"
    id="password"
    name="password"
)